# For detailed information about docker-compose visit https://docs.docker.com/compose/
# To start all docker containers required to execute the tests locally run:
# docker-compose up

version: '2'
services:
  amqp:
    image: rabbitmq:3
    ports:
      - "5672:5672"
  cassandra:
    image: cassandra:3.0.15
    ports:
      - "9042:9042"
  orientdb:
    image: orientdb:3.0.4
    ports:
      - "2424:2424"
    environment:
      - "ORIENTDB_ROOT_PASSWORD=root"
    command: /orientdb/bin/server.sh -Dmemory.chunk.size=268435456
  dynamodb:
    image: deangiberson/aws-dynamodb-local
    ports:
      - "8001:8000"
  geode:
    container_name: geode
    image: apachegeode/geode:1.6.0
    hostname: geode
    mem_limit: 2g
    expose:
      - "10334"
      - "1099"
      - "7575"
      - "40404"
    ports:
      - "1099:1099"
      - "10334:10334"
      - "7575:7575"
      - "7070:7070"
      - "40404:40404"
      - "8081:8080"
    volumes:
      - ./geode/scripts/:/scripts/
    command: /scripts/geode.sh
  ironauth:
    image: iron/auth
    ports:
      - "8090:8090"
  ironmq:
    image: iron/mq
    links:
      - "ironauth:ironauth"
    environment:
      - "AUTH_HOST=http://ironauth:8090"
    ports:
      - "8080:8080"
  mongo:
    image: mongo
    ports:
      - "27017:27017"
  mqtt:
    image: toke/mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mqtt/src/test/travis:/mqtt/config/conf.d
  postgres94:
    image: sebastianharko/postgres94 # PostgreSQL 9.4 with configuration that allows creating "logical decoding" slots
    ports:
      - "5432:5432"
  postgres95:
    image: sebastianharko/postgres95 # PostgreSQL 9.5 with configuration that allows creating "logical decoding" slots
    ports:
      - "5433:5432"
  postgres96:
    image: sebastianharko/postgres96 # PostgreSQL 9.6 with configuration that allows creating "logical decoding" slots
    ports:
      - "5434:5432"
  postgres104:
    image: sebastianharko/postgres104 # PostgreSQL 10.4 with configuration that allows creating "logical decoding" slots
    ports:
      - "5435:5432"
  kudu-master-data:
    image: kunickiaj/kudu
    volumes:
      - /var/lib/kudu/master
  kudu-tserver-data:
    image: kunickiaj/kudu
    volumes:
      - /var/lib/kudu/tserver
  kudu-master:
    image: kunickiaj/kudu
    ports:
      - 7051:7051
    volumes_from:
      - kudu-master-data
    command: master
  kudu-tserver:
    image: kunickiaj/kudu
    environment:
      - KUDU_MASTER=kudu-master
    ports:
      - 7050:7050
    volumes_from:
      - kudu-tserver-data
    command: tserver
    links:
      - kudu-master
