<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} - %logger -> %-5level[%thread] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--<logger name="akka" level="debug"/>-->
    <!--<logger name="akka.persistence" level="debug"/>-->

    <root level="error">
        <appender-ref ref="console"/>
    </root>
</configuration>
