<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/ftp.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{ISO8601} %-5level [%thread] [%logger{36}]  %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%-20.20thread] %-36.36logger{36}  %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <appender name="CapturingAppender" class="akka.stream.alpakka.testkit.CapturingAppender"/>

    <logger name="akka.stream.alpakka.testkit.CapturingAppenderDelegate">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="akka" level="DEBUG"/>
    <logger name="net.schmizz.sshj.DefaultConfig" level="error"/>
    <logger name="net.schmizz" level="warn"/>
    <logger name="org.apache.ftpserver" level="info"/>
    <logger name="org.apache.ftpserver.listener" level="warn"/>
    <logger name="org.apache.mina" level="warn"/>
    <logger name="org.apache.sshd" level="warn"/>

    <root level="debug">
        <appender-ref ref="CapturingAppender"/>
        <appender-ref ref="FILE" />
    </root>
</configuration>
